<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".less" mimeType="text/css" />
            <mimeMap fileExtension=".json" mimeType="text/script" />
        </staticContent>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
