@import url('init.css');
.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.dwb-body {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  height: 100%;
}
.dwb-conbox {
  width: 100%;
}
.fullscreen {
  width: 100%;
  height: 100%;
}
.fiter {
  opacity: 0.3;
  background-color: #000;
}
.pick-bc {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}
.pick-box {
  height: 9.5rem;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.pick-head span {
  margin: 0 1rem;
}
.pick-head span:last-child {
  float: right;
  margin: 0 1rem;
}
.pick-head {
  float: left;
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #c4c4c4;
}
.pick-con {
  height: 8rem;
  width: 33.3333333333%;
  float: left;
  overflow-y: scroll;
}
.pick-con-top,
.pick-con-bottom {
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 5rem;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(207, 207, 207, 0.7)), to(#fff));
}
.pick-con-bottom {
  bottom: 0;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(rgba(207, 207, 207, 0.7)));
}
.pick-item,
.pick-item-se {
  overflow: hidden;
  width: 100%;
  font-size: 0.9rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border: none;
}
.pick-item-se {
  color: red;
}
.pick-item:last-child {
  margin-bottom: 5rem;
}
