<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link type="text/css" rel="stylesheet/less" href="../css/pick.less" />



</head>

<body>
    <div id="selectCity">

        <div class="box">
            <select>
            <option v-for="item in items">{{item.name}}</option>
        </select>
        </div>
        <div class="pick-bc">
            <ul class="pick-con" v-on:scroll="pickscorll">
                <li class="pick-item"></li>
                <li class="pick-item"></li>
                <li class="pick-item" v-for="item in items">{{item.name}}</li>
                <!--<li class="pick-item">wuhan2</li>-->
            </ul>

            <div class="pick-con-top">{{scotop}}</div>
            <div class="pick-con-bottom"></div>
        </div>



        <script src="../js/less.js"></script>
        <script src="../js/hotcss.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../js/vue-resource.min.js"></script>
        <script src="../js/pick.js"></script>
        <script src="../controller/nvcontroller.js"></script>
    </div>
</body>

</html>