<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>




</head>

<body>
    <div id="selectCity">

        <div class="box">
            <select>
            <!--<option v-for="item in provinceitems">{{item.name}}</option>-->
        </select>
        </div>
        <div class="pick-bc">
            <div class="pick-box">
                <ul class="pick-con">
                    <li class="pick-item"></li>
                    <li class="pick-item"></li>

                </ul>


                <div class="pick-con-top"></div>
                <div class="pick-con-bottom "></div>
            </div>
        </div>


        <script src="../js/vue.js "></script>
        <script src="../js/vue-resource.min.js "></script>
        <script src="../controller/nvtestcontroller.js "></script>


    </div>
</body>

</html>